<div class="userfollow d-flex align-items-center" id="follow">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto text-center">
        <h1 class="text-white">フォロー・フォロワー</h1>
      </div>
    </div>
  </div>
</div>


<% if users.exists? %>
  <div class="container mt-4 mb-5">
    <div class="row">
      <% users.each do |user| %>
        <div class="col-md-4">
          <div class="cardfollow shadow-lg h-100 pb">
            <%= link_to user_path(user.id) do %>
              <%= image_tag user.get_profile_image(150, 150), class: "cord-img-top", style: "width:100%" %>
            <% end %>
            <div class="card-body">
              <div class="card-title"><%= user.name %></div>
              <div class="card-text">フォロー数：<%= user.followings.count %></div>
              <div class="card-text">フォロワー数：<%= user.followers.count %></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="col-12 text-center">
    <h2>ユーザーがいません。</h2>
  </div>
<% end %>

<script>
  window.addEventListener("scroll", (e) => {
    var scroll_y = window.scrollY
    if (scroll_y <= 270) {
      $('#headerNav').removeClass('border-bottom')
      $('#globalNav').removeClass('bg-white').addClass('bg-clear')
      $('#globalNav').find('.list-unstyled>a').removeClass('text-dark').addClass('text-light')
      $('#globalNavH1').removeClass('text-dark').addClass('text-light')
      $('.userfollow').css('height', '350px')
      $('#globalNav').find('.container-md').css('position', 'relative')
      $('#follow').css('position', 'relative').css('top', '-90px')
      $('#button').removeClass('text-dark').addClass('text-light')
    } else {
      $('headerNab').addClass('border-bottom')
      $('#globalNav').removeClass('bg-clear').addClass('bg-white')
      $('#globalNav').find('.list-unstyled>a').removeClass('text-light').addClass('text-dark')
      $('#globalNavH1').removeClass('text-light').addClass('text-dark')
      $('.userfollow').css('height', '270px')
      $('#globalNav').find('.container-md').css('position', 'static')
      $('#follow').css('position', 'static').css('top', '0px')
      $('#button').removeClass('text-light').addClass('text-dark')
    }
  })
</script>
