<div>
  <div>
    <h1>いいねしたレストラン一覧</h1>

    <%= link_to image_tag restaurant.get_image(253,255), class: "card-img-top" %>
    <%= restaurant.shop_name %>
    <%= restaurant.user.name %>
    <%= restaurant.favrites.count %>
    <%= restaurant.comments.count %>
  </div>
</div>