<div>
  <%= flash[:notice] %>
</div>

<div class="container px-6">
  <div class="row">
    <div class="col-lg-3 h-100">
      <%= render 'public/restaurants/tag_search', tags: @tag_list %>
    </div>
    <div class="col-lg-9">

    <% @restaurants.each do |restaurant| %>
      <div class="col-sm-6 col-lg-4 mb-5">
        <div class="card h-100">
          <%= link_to restaurant_path(restaurant.id) do %>
            <%= image_tag restaurant.get_image(253, 255), class: "card-img-top" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title">店名：<%= restaurant.shop_name %></h5>
            <p class="card-text">投稿者：<%= restaurant.user.name %></p>
            <p class="card-text">いいね数：<%= restaurant.favorites.count %></p>
            <p class="card-text">コメント数：<%= restaurant.comments.count %></p>
            <p class="card-text">タグ：<%= restaurant.tags.map(&:name).join(',') %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
