<div class="restaurantindex d-flex align-items-center" id="restaurant_index">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto text-center">
        <h1 class="text-white">レストラン投稿一覧</h1>
      </div>
    </div>
  </div>
</div>


<div>
  <%= flash[:notice] %>
</div>

<div class="container px-6">
  <div class="row">
    <div class="col-lg-3 h-100">
      <%= render 'public/restaurants/tag_search', tags: @tag_list %>
    </div>
    <div class="col-lg-9">
        <h3 class="mt-3">検索</h3>
        <%= search_form_for @q2, url: restaurants_path do |f| %>
          <%= f.label :shop_name, 'レストラン名' %>
          <%= f.search_field :shop_name_cont %>
          <%= f.submit '検索', class: "btn btn-primary btn-sm" %>
        <%end%>
      <div class="row">
        <% @restaurants.each do |restaurant| %>
          <div class="col-sm-6 col-lg-4 mb-5">
            <div class="cardindex mx-auto mt-4 shadow-lg">
              <%= link_to restaurant_path(restaurant.id) do %>
                <%= image_tag restaurant.get_image(253, 255), class: "card-img-top" %>
              <% end %>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-4">
                    <%= link_to user_path(restaurant.user.id) do %>
                    <%= image_tag restaurant.user.get_profile_image(60,60), class: "mt-3 rounded-circle" %>
                    <%end%>
                  </div>
                  <div class="col-lg-8">
                    <p class="card-title"><%= restaurant.shop_name %></h5>
                    <p class="card-text"><%= restaurant.user.name %></p>
                    <span class="card-text">
                      <script>
                        let elem = document.querySelector('#star');
                        elem.innerHTML = ""
                        let opt = {
                            starOn: "<%= asset_path('star-on.png') %>",
                            starOff: "<%= asset_path('star-off.png') %>",
                            starHalf: "<%= asset_path('star-half.png') %>",
                            //scoreName: 'restraunt[star]',
                            score: <%= restaurant.star %>,
                            readOnly: true
                        };
                        raty(elem, opt);
                      </script>
                    </span>
                    <span id="favorite_btn_<%= restaurant.id %>">

                        <%= render 'public/restaurants/favorite', restaurant: restaurant %>
                    </span>
                    |
                    <span>
                      <%= restaurant.comments.count %>
                    </span>
                    <span><br>

                    </span>
                  </div>
                </div>
                <div class="mt-3">
                  <% restaurant.tags.each do |tag| %>
                    <i class="fas fa-tag"></i><%= tag.name %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <div class="text-center">
        <%= paginate @restaurants %>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  window.addEventListener("scroll", (e) => {
    var scroll_y = window.scrollY
    if (scroll_y <= 270) {
      $('#headerNav').removeClass('border-bottom')
      $('#globalNav').removeClass('bg-white').addClass('bg-clear')
      $('#globalNav').find('.list-unstyled>a').removeClass('text-dark').addClass('text-light')
      $('#globalNavH1').removeClass('text-dark').addClass('text-light')
      $('.restaurantindex').css('height', '350px')
      $('#globalNav').find('.container-md').css('position', 'relative')
      $('#restaurant_index').css('position', 'relative').css('top', '-90px')
    } else {
      $('headerNab').addClass('border-bottom')
      $('#globalNav').removeClass('bg-clear').addClass('bg-white')
      $('#globalNav').find('.list-unstyled>a').removeClass('text-light').addClass('text-dark')
      $('#globalNavH1').removeClass('text-light').addClass('text-dark')
      $('.restaurantindex').css('height', '270px')
      $('#globalNav').find('.container-md').css('position', 'static')
      $('#restaurant_index').css('position', 'static').css('top', '0px')
    }
  })
</script>