<h1>投稿されたレストラン情報一覧</h1>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <tr>
          <th>画像</th>
          <th>店名</th>
          <th>投稿者</th>
          <th>いいね</th>
          <th>コメント</th>
          <th>削除</th>
        </tr>
        <% @restaurants.each do |restaurant| %>
        <tr>
          <td>
            <%= image_tag restaurant.get_image(100,100) %>
          </td>
          <td>
            <%= link_to admin_restaurant_path(restaurant.id) do %>
            <%= restaurant.shop_name %>
            <%end%>
          </td>
          <td>
            <%= link_to admin_user_path(restaurant.user.id) do %>
            <%= restaurant.user.name %>
            <% end %>
          </td>
          <td>
            <%= restaurant.favorites.count %>
          </td>
          <td>
            <%= restaurant.comments.count %>
          </td>
          <td>
            <%= link_to "削除する", admin_restaurant_path(restaurant), method: :delete, class: "btn btn-danger btn-md", "data-confirm" => "本当に削除しますか？" %>
          </td>
        </tr>
        <%end%>
      </table>
    </div>
  </div>
</div>