<h1><%= @restaurant.shop_name %>　の詳細</h1>
<div>
  <table>
    <tr>
      <th>画像</th>
      <th>店名</th>
      <th>コメント</th>
    </tr>
    <tr>
      <td>
        <%= image_tag @restaurant.get_image(100,100) %>
      </td>
      <td>
        <%= @restaurant.shop_name %>
      </td>
      <td>
        <% @restaurant.comments.each do |comment| %>
        <%= comment.comment %><br>
        <%= link_to "削除", restaurant_comment_path(comment.restaurant, comment), method: :delete %>
        <%end%>
      </td>
    </tr>
  </table>
</div>
