<h1><%= @restaurant.shop_name %>　の詳細</h1>
<div>
  <table class="table">
    <tr>
      <th>画像</th>
      <th>店名</th>
      <th>コメント</th>
      <th>削除する</th>
    </tr>
    <tr>
      <td>
        <%= image_tag @restaurant.get_image(100,100) %>
      </td>
      <td>
        <%= @restaurant.shop_name %>
      </td>
      <td>
        <div class="comment card-text">
          <%= render 'public/comments/comments', restaurant: @restaurant %>
        </div>
      </td>
      <td>
        <%= link_to "削除する", admin_restaurant_path(@restaurant), method: :delete, class: "btn btn-danger btn-md", "data-confirm" => "本当に削除しますか？"  %>
      </td>
    </tr>
  </table>
</div>
