<h1>登録されているユーザー一覧</h1>

<div>
  <table class="table">
    <tr>
      <th>イメージ</th>
      <th>名前</th>
      <th>投稿数</th>
      <th>コメント数</th>
      <th>退会・有効</th>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td><%= image_tag user.get_profile_image(100,100) %></td>
      <td>
        <%= link_to admin_user_path(user.id) do %>
        <%= user.name %>
        <% end %>
      </td>
      <td>
        <%= user.restaurants.count %>
      </td>
      <td><%= user.comments.count %></td>
      <td>
        <% if user.is_deleted %>
          退会済み
          <%= link_to "有効にする", admin_unsubscribe_path(user.id), method: :patch, data: { confirm: "本当に有効にしますか？" }, class: "btn btn-success btn-sm" %>
        <% else %>
          有効
          <%= link_to "退会させる", admin_unsubscribe_path(user.id), method: :patch, data: { confirm: "本当に退会させますか？" }, class: "btn btn-danger btn-sm" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
