<%if user_signed_in? %>
<div class="text-left mb-3 mt-4">
  ようこそ、
  <%= link_to edit_user_path(current_user.id) do %>
  <strong class="text-dark"><%= current_user.name%></strong>
  <%end%>
  さん！
  <%end%>
</div>

<div class="container mb-5">
  <div class="row">
    <h1 class="text-left border-bottom" style="font-family: 'Sacrament', cursive;">About me</h1>
      <p><%= image_tag user.get_profile_image(230,230), class: "img-fluid" %></p>
      <table class= "table table-striped mt-5">
        <thead>
          <tr>
            <th>Name</th>
            <td><%= user.name %></td>
          </tr>
        </thead>
        <tbory>
          <tr>
            <th>Introduction</th>
            <td><%= user.user_introduction %></td>
          </tr>
          <tr>
            <th>Follor</th>
            <td id="follor_link">
              <%= render 'public/users/follor', user: user %>
            </td>
          </tr>
          <tr>
            <th>Follower</th>
            <td id="follower_link">
              <%= render 'public/users/follower', user: user %>
            </td>
          </tr>
          <% unless user == current_user %>
            <tr>
              <td id="follow-ajax">
                <%= render 'public/users/followbutton', user: user %>
              </td>
              <td id="chat_link">
                <%= render 'public/users/chat', user: user %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <%= link_to edit_user_path(user.id), class: "btn btn-outline-secondary btn-block " do  %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  </div>
</div>