<%if user_signed_in? %>
<div class="text-left mb-3 mt-3">
  ようこそ、
  <%= link_to edit_user_path(current_user.id) do %>
  <strong class="text-dark"><%= current_user.name%></strong>
  <%end%>
  さん！
  <%end%>
</div>

<div class="container">
  <div class="row">
    <h1 class="text-left border-bottom">About me</h1>
      <p><%= image_tag user.get_profile_image(230,230) %></p>
      <table class= "table table-striped mt-5">
          <thead>
              <tr>
                  <th>name</th>
                  <th><%= user.name %></th>
              </tr>
              <tr>
                  <th>introduction</th>
                  <th><%= user.user_introduction %></th>
              </tr>
              <tr>
                <td>followers</td>
                <td>
                  <%= link_to user.followers.count, followers_path(user_id: user.id) %>
                </td>
              </tr>
              <tr>
                <td>followed</td>
                <td>
                  <%= link_to user.followings.count, followings_path(user_id: user.id) %>
                </td>
              </tr>
              <tr>
                  <td>
                    <% unless user == current_user %>
                      <%if current_user.following?(user) %>
                      <%= link_to "フォローを外す", relationships_path(user_id: user.id),method: :delete %>
                      <%else%>
                      <%= link_to "フォローする", relationships_path(user_id: user.id), method: :post %>
                      <%end%>
                    <%end%>
                  </td>
              </tr>
              <tr>
                <td>
                  <% if current_user != user && current_user.followings.include?(user) && user.followings.include?(current_user) %>
                    <%= link_to 'chatを始める', chat_path(user.id), class: "ml-3" %>
                  <%end%>
                </td>
              </tr>
          </thead>
      </table>
      <%= link_to edit_user_path(user.id), class: "btn btn-outline-secondary btn-block " do  %>
      <i class="fas fa-user-cog"></i>
      <% end %>
</div>
</div>