<div class="usershow vh-100 d-flex align-items-center" id="restaurant.index">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto text-center">
        <h1 class="text-white"><%= @user.name %>さんの投稿詳細</h1>
      </div>
    </div>
  </div>
</div>


<div class= "container">
  <div class='row'>
    <div class="col-md-3">
      <!--ユーザーの情報-->
      <%= render 'public/users/userinfo', user: @user %>
    </div>
    <div>
      <p class="mt-5 ml-4"><%=link_to"お気に入り記事",favorites_user_path(@user) %></p>

      <!--ユーザーの投稿した店舗一覧-->
      <div class= "row">
        <% @restaurant.each do |restaurant| %>
         <div class="col-sm-6 col-md-9 ml-5 mb-4">
            <div class="card mt-4 shadow-lg">
              <%= link_to restaurant_path(restaurant.id) do %>
                <%= image_tag restaurant.get_image(257,226), class: "cord-img-top" %>
              <%end%>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-4">
                    <%= image_tag restaurant.user.get_profile_image(60,60), class: "mt-3 rounded-circle" %>
                  </div>
                  <div class="col-lg-8">
                    <h6 class="card-title">店名：<%= restaurant.shop_name %></h6>
                    <p class="cart-text">投稿日：<%= restaurant.created_at.strftime('%Y/%m/%d') %></p>
                  </div>
                </div>
              </div>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>